@import "bootstrap-icons";

@tailwind base;

:root {
    --primary: rebeccapurple;
    --secondary: cornflowerblue;
}

/** {*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: var(--secondary) var(--primary);*/
/*}*/

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 12px;
    border: 3px solid var(--primary);
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

@tailwind components;
@tailwind utilities;
