@import "bootstrap-icons";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    @apply bg-gray-900;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 12px;
}

::-webkit-scrollbar-corner {
    @apply bg-gray-900;
}

