@import "bootstrap-icons";

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, sunset, cupcake, retro;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    @apply bg-gray-900;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 12px;
}

::-webkit-scrollbar-corner {
    @apply bg-gray-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


