@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap'); /* Variable font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap'); /* Variable font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap'); /* Variable font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import "bootstrap-icons";

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, sunset, cupcake, retro;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    @apply bg-gray-900;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 12px;
}

::-webkit-scrollbar-corner {
    @apply bg-gray-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


