# .github/workflows/reusable-build.yml
name: Reusable Build and Package

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

jobs:
  build-and-package:
    runs-on: ${{ inputs.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23'
          cache: 'pnpm'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@zernikalos'

      - name: Configure pnpm node-linker
        run: pnpm config set node-linker hoisted

      - name: Install dependencies
        run: pnpm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build project
        run: pnpm build

      - name: Package application
        run: pnpm make

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ inputs.os }}
          path: out/make/**/*
